@model IEnumerable<LOCATION_DES_VOITURES.Categorie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    
}

<h2>Index</h2>

<p>
        @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Categories", FormMethod.Get))
{
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idcat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomCat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Voiture.NumeroMatricule)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idcat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomCat)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Voiture.NumeroMatricule)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.idcat }) |
                @Html.ActionLink("Details", "Details", new { id = item.idcat }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.idcat })
            </td>
        </tr>
    }

</table>
